.hone-page {
  position: relative;
}

.hone-page .banner {
  position: relative;
}

.hone-page .banner .banner-btn {
  width: 900px;
  display: flex;
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-around;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 2.2rem;
}

.Titre-Bloc-1 .title {
  font-weight: 600;
  font-size: 5.2rem;
  line-height: 6rem;
  text-align: center;
  color: #f2542d;
  position: relative;
}

.Titre-Bloc-1 .Bloc-1-item {
  display: flex;
  justify-content: center;
}

.Titre-Bloc-1 .title::before {
  content: "";
  width: 42rem;
  height: 0.1rem;
  background: #bbbbbb;
  position: absolute;
  top: 50%;
  left: 9%;
}

.Titre-Bloc-1 .title::after {
  content: "";
  width: 42rem;
  height: 0.1rem;
  background: #bbbbbb;
  position: absolute;
  top: 50%;
  right: 10%;
}

.Titre-Bloc-1 .text-sub {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: center;
  color: #562c2c;
  margin-top: 1.6rem;
  margin-bottom: 4rem;
}

.item1 .item1-title {
  margin-top: 2.4rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  color: #f2542d;
}

.item1 .item1-titre {
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.2rem;
  color: #562c2c;
}

.item1 .text-sub {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: rgba(86, 44, 44, 0.8);
}

.Bloc-1-item .item1 {
  width: 39.8rem;
  justify-content: space-between;
  margin-right: 2.4rem;
}

.Bloc-1-item .item1 .btn-item1 {
  margin-top: 2.4rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
  width: 24.9rem;
  border-radius: 33.3rem;
  border: 0.15rem solid rgba(86, 44, 44, 0.3);
  justify-content: center;
  align-items: center;
}

.Bloc-1-item .item1 .btn-item1 span {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2rem;
}

.Bloc-1-item .item1 .btn-item1 img {
  width: 1.35rem;
  height: 1.35rem;
  margin-left: 0.4rem;
}

.Titre-Bloc-2 {
  margin-top: 8rem;
}

.Titre-Bloc-2 .title {
  font-weight: 600;
  font-size: 5.2rem;
  line-height: 6rem;
  text-align: center;
  color: #f2542d;
  position: relative;
}

.Titre-Bloc-2 .title::before {
  content: "";
  width: 28rem;
  height: 0.1rem;
  background: #bbbbbb;
  position: absolute;
  top: 50%;
  left: 17%;
}

.Titre-Bloc-2 .title::after {
  content: "";
  width: 28rem;
  height: 0.1rem;
  background: #bbbbbb;
  position: absolute;
  top: 50%;
  right: 19%;
}

.Titre-Bloc-2 .btn-2 {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.Titre-Bloc-2 .btn-2 .btn-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  border: 0.15rem solid rgba(242, 84, 45, 0.5);
  padding: 1rem 1.6rem;
  margin-right: 2rem;
}

.Titre-Bloc-2 .btn-2 .btn-item span {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2rem;
  margin-left: 0.4rem;
}

.Titre-Bloc-3 .boxcalendar .fc .fc-toolbar {
  position: relative;
  justify-content: center;
}

.Titre-Bloc-3 .boxcalendar .fc .fc-toolbar .fc-left .fc-button-group {
  left: 0rem;
}

.Titre-Bloc-3 .boxcalendar .fc .fc-toolbar .fc-left .fc-button-group .fc-prev-button,
.Titre-Bloc-3 .boxcalendar .fc .fc-toolbar .fc-left .fc-button-group .fc-next-button {
  background-color: white;
  border: 0px;
}

.Titre-Bloc-3 .boxcalendar .fc .fc-toolbar .fc-left .fc-button-group .fc-prev-button span,
.Titre-Bloc-3 .boxcalendar .fc .fc-toolbar .fc-left .fc-button-group .fc-next-button span {
  color: rgba(242, 84, 45, 1);
  font-size: 1.4rem;
}

.Titre-Bloc-3 .boxcalendar .fc .fc-toolbar .fc-left .fc-button-group .fc-next-button {
  margin-left: 15rem;
}

.Titre-Bloc-3 .boxcalendar .fc .fc-toolbar .fc-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.Titre-Bloc-3 .boxcalendar .fc .fc-toolbar .fc-center h2 {
  color: rgba(86, 44, 44, 1);
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
}

.Titre-Bloc-3 .boxcalendar .fc .fc-toolbar .fc-left .fc-today-button {
  display: none;
}

.Titre-Bloc-3 .boxcalendar .fc .fc-toolbar .fc-right {
  display: none;
}

.boxcalendar .fc .fc-view-container .fc-view table .fc-head tr td {
  border: none;
}

.fc-head th {
  border: none !important;
  padding-bottom: 1.6rem;
}

.fc-header-toolbar {
  border: none !important;
}

.fc-day-header span {
  color: rgba(86, 44, 44, 1);
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.fc-day-grid .fc-row {
  height: 7.2rem !important;
}

table {
  border-spacing: 0 10px;
  /* Adds vertical space between rows */
}

table tbody {
  margin-bottom: 1rem
}

.fc-day-number {
  text-align: center;
  width: 15.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin-right: 2.5rem;
  border: 1px solid rgba(215, 215, 215, 1);
  border-radius: 0.8rem;
  padding: 0.9rem 0rem !important;
}

.fc-other-month .fc-day-number {
  color: rgba(153, 153, 153, 1);
  border: 1px solid rgba(223, 223, 223, 1);
  background: rgba(245, 245, 245, 1);
}

.fc-unthemed td.fc-today {
  background: white
}

.fc th,
.fc td {
  border-width: 0px;
}

.fc-day-grid .fc-row .fc-content-skeleton table thead tr .fc-day-top .fc-day-number {
  text-align: center;
}

.boxcalendar {
  height: 54rem;
  overflow-y: hidden;
  border: 1px solid rgba(86, 44, 44, 0.3);
  box-shadow: 0px 0px 30px 0px rgba(242, 84, 45, 0.1);
  border-radius: 2.4rem;
  padding: 2.4rem 3.2rem;
  margin-bottom: 4rem;
}

.Titre-Bloc-3 {
  margin-top: 14rem;
}

.Titre-Bloc-3 .title {
  color: rgba(242, 84, 45, 1);
  font-weight: 600;
  font-size: 5.2rem;
  text-align: center;
  line-height: 6rem;
  position: relative;
  margin-bottom: 4rem;
}

.Titre-Bloc-3 .title::before {
  content: "";
  width: 30rem;
  height: 0.1rem;
  background: #bbbbbb;
  position: absolute;
  top: 50%;
  left: 17%;
}

.Titre-Bloc-3 .title::after {
  content: "";
  width: 29rem;
  height: 0.1rem;
  background: #bbbbbb;
  position: absolute;
  top: 50%;
  right: 19%;
}

.form-name,
.form-email {
  display: grid;
  grid-template-columns: 12rem auto;
  align-items: center;
}

.form-message {
  display: grid;
  grid-template-columns: 12rem auto;
}

.form-name label,
.form-email label,
.form-message label {
  color: rgba(86, 44, 44, 1);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin-right: 1.6rem;
}

.form-name input,
.form-email input,
.form-message input {
  height: 5.1rem;
  border-radius: 12.3rem;
  border: 1px solid rgba(86, 44, 44, 0.3);
  box-shadow: 0px 0px 30px 0px rgba(242, 84, 45, 0.1);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  padding-left: 1.6rem;
}

.jodit-workplace span {
  font-size: 1.8rem !important;
}

.jodit-status-bar {
  display: none !important;
}

.form-upload {
  display: grid;
  grid-template-columns: 12rem auto;
  align-items: center;
  justify-content: left;
}

.form-upload label {
  color: rgba(86, 44, 44, 1);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.6rem;
}

.form-upload .btn-upload .upload-text1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  color: rgba(30, 136, 249, 1);
  margin-left: 0.4rem;
  margin-right: 1.6rem;
}

.form-upload .btn-upload .upload-text2 {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: rgba(153, 153, 153, 1);
  margin-left: 0.4rem;
  margin-right: 1.6rem;
}

.form-name .text-sm.font-medium.text-destructive {
  font-size: 1.6rem;
  margin-top: 1.6rem;
  color: red;
}

.form-email .text-sm.font-medium.text-destructive {
  font-size: 1.6rem;
  margin-top: 1.6rem;
  color: red;
}

.btn-form-3 .clear {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: rgba(86, 44, 44, 1);
  border: 1px solid rgba(86, 44, 44, 0.3);
  padding: 2.2rem 6.2rem;
  border-radius: 3.3rem;
}

.btn-form-3 .save {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: rgba(255, 255, 255, 1);
  background: rgba(242, 84, 45, 1);
  padding: 2.2rem 6.2rem;
  border-radius: 3.3rem;
}

.btn-upload {
  display: flex;
}

.Titre-Bloc-4 .title {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 3.5rem;
}

.Titre-Bloc-4 .title span {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 6rem;
  color: rgba(242, 84, 45, 1);
  text-transform: uppercase;
}

.Titre-Bloc-4 .title a {
  display: flex;
  border-bottom: 1px solid rgba(102, 102, 102, 1);
}

.Titre-Bloc-4 .title a img {
  margin-left: 0.4rem;
}

.Titre-Bloc-4 .title a span {
  color: rgba(102, 102, 102, 1);
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;

}

.Titre-Bloc-4 .slider .item .title-sub {
  color: rgba(242, 84, 45, 1);
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 2.4rem;
}

.Titre-Bloc-4 .slider .item .title-item {
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3rem;
  color: rgba(34, 34, 34, 1);
  margin-top: 0.4rem;
}

.Titre-Bloc-4 .slider .item .content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: rgba(86, 44, 44, 0.8);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: rgba(86, 44, 44, 0.8);
  border-left: 0.5px solid rgba(187, 187, 187, 1);
  margin-left: 0.8rem;
  padding-left: 1.6rem;
  margin-top: 1.6rem;
}

.slider .item {
  text-align: left;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Titre-Bloc-5 {
  margin-top: 8rem;
}

.Titre-Bloc-5 .container {
  display: grid;
  grid-template-columns: auto 50rem;
  grid-column-gap: 2.4rem;
}

.Titre-Bloc-5 .container .left .title {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 6rem;
  color: rgba(242, 84, 45, 1);
  text-transform: uppercase;
}

.Titre-Bloc-5 .container .left .title span {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 6rem;
  color: rgb(247, 152, 129);
}

.Titre-Bloc-5 .container .left .content {
  display: grid;
  grid-template-columns: 10rem auto;
  margin-top: 6rem;
}

.Titre-Bloc-5 .container .left .content .left {
  height: 2px;
  background: rgba(187, 187, 187, 1);
  margin-top: 2rem;
  width: 8.1rem;
}

.Titre-Bloc-5 .container .left .content .right .title {
  color: rgba(86, 44, 44, 1);
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 4.2rem;
  margin-bottom: 1.1rem;
}

.Titre-Bloc-5 .container .left .content .right .text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: rgba(86, 44, 44, 0.8);
}

.container.btn-bloc {
  display: block;
}

.Titre-Bloc-5 .btn-bloc-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7.9rem;
}

.Titre-Bloc-5 .btn-bloc-5 .btn1 img {
  background: rgba(14, 149, 148, 1);
  padding: 1.3rem 1.5rem;
  border-radius: 10rem;
  margin: auto;
  margin-bottom: 1.6rem;
}

.Titre-Bloc-5 .btn-bloc-5 .btn1 .title {
  color: rgba(86, 44, 44, 1);
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
  margin-bottom: 0.8rem;
}

.Titre-Bloc-5 .btn-bloc-5 .btn1 {
  text-align: center;
}

.Titre-Bloc-5 .btn-bloc-5 .btn1 .text {
  color: rgba(86, 44, 44, 1);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.Titre-Bloc-6 {
  padding-top: 6rem;
  background: linear-gradient(0deg, #EAFCFF, #EAFCFF),
    linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

.Titre-Bloc-6 .title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-column-gap: 2rem;
}

.Titre-Bloc-6 .title .left {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.6erm;
  color: rgba(86, 44, 44, 0.8);
}

.Titre-Bloc-6 .title .right {
  font-weight: 600;
  font-size: 4rem;
  line-height: 5.4rem;
  color: rgba(86, 44, 44, 1);
  text-transform: uppercase;
}

.Titre-Bloc-6 .title .right span {
  color: rgb(242, 84, 45);
}

.Titre-Bloc-6 .content-img>img {
  margin: auto;
  width: 100%;
}

.Titre-Bloc-6 .content-img {
  position: relative;
}

.Titre-Bloc-6 .content-img .item {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: white;
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
  padding-bottom: 2.4rem;
}

.Titre-Bloc-6 .content-img .item img {
  width: 100%;
}

.Titre-Bloc-6 .content-img .item .left .title {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
  color: rgba(0, 0, 0, 1);
}

.Titre-Bloc-6 .content-img .item .left .text {
  color: rgba(102, 102, 102, 1);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  width: 66rem;
}

.Titre-Bloc-6 .content-img .item .content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.Titre-Bloc-6 .content-img .item .content .right {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(102, 102, 102, 0.1);
  padding: 0.6rem 1.6rem;
  border-radius: 10rem;
}

.Titre-Bloc-6 .item-sub {
  margin-top: 2.2rem;
  position: relative;
  width: 29.2rem;
}

.Titre-Bloc-6 .item-sub .item-antony {
  position: absolute;
  display: flex;
  background: rgba(86, 44, 44, 0.6);
  bottom: 0%;
  width: 100%;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  justify-content: space-between;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.Titre-Bloc-6 .item-sub .item-antony img {
  margin-left: 2.2rem;
}

.Titre-Bloc-6 .item-sub .item-antony span {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7rem;
  color: rgba(255, 255, 255, 1);
}

.Titre-Bloc-6 .item-sub .item-antony .arrow {
  margin-right: 2.2rem;
}

.Titre-Bloc-6 .sub-item {
  display: flex;
  justify-content: space-between;
}

.Titre-Bloc-6 .text-con {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: rgba(102, 102, 102, 1);
  text-align: center;
  margin-top: 4.8rem;
}

.Titre-Bloc-6 .text-con span {
  color: rgb(242, 84, 45);
}


.Titre-Bloc-7 .content-exp .content-7 {
  position: absolute;
}

.Titre-Bloc-7 .content-exp .content-7 .title {
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 6rem;
}

.Titre-Bloc-7 .content-exp .content-7 .title span {
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 6rem;
  color: rgb(168, 147, 148);
}

.Titre-Bloc-7 .content-exp .content-7 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Titre-Bloc-7 .content-exp .content-7 .sub {
  text-align: justify;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.6rem;
  text-align: justify;
  color: rgba(86, 44, 44, 1);
}

.Titre-Bloc-7 .content-7 {
  width: 55.5rem;
  text-align: center;
}

.Titre-Bloc-7 {
  position: relative;
}

.footer {
  padding-top: 5.6rem;
  background: rgba(86, 44, 44, 1);
  padding-bottom: 5.6rem;
}

.footer .footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer .footer-top .item1 {
  width: 37rem;
}

.footer .footer-top .item1 span {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: rgba(255, 255, 255, 1);
}

.footer .footer-top .item2 a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 400;
  flex-direction: column;
  display: block;
  margin-bottom: 0.6rem;
}

.footer .footer-top .item3 a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 400;
  flex-direction: column;
  display: block;
  margin-bottom: 0.6rem;
}

.footer .footer-top .item4 a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 400;
  flex-direction: column;
  margin-bottom: 0.6rem;
  display: block;
}

.footer-basic {
  margin-top: 5.6rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
}

.footer-basic .left {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 2.4rem;
  line-height: 2.7rem;
}

.footer-basic .right {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer-basic .right img{
  margin-right: 1.6rem;
  background: rgba(242, 84, 45, 1);
  padding: 0.6rem;
  border-radius: 50%;
}

.footer-basic .right img:nth-last-child(1){
  padding: 0.8rem;
}

.map iframe{
  margin: auto;
  width: 124rem;
}

.navbar {
  background: #a299ae;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  margin-left: 1rem;
  border-radius: 2.3rem;
  align-content: center;
  background: #f2542d;
}

.language-selector {
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
}

option {
  background: #a299ae;
  color: #fff;
}

.navbar .language-selector{
  font-size: 1.8rem;
}

.navbar .language-selector option{
  font-size: 1.6rem;
}

.footer-basic {
  display: flex;
  justify-content: space-between;
}

.chat {
  position: fixed;
  background: rgba(242, 84, 45, 1);
  z-index: 99;
  bottom: 5%;
  right: 5%;
  padding: 1.2rem;
  border-radius: 22.2rem;
}

.header-arrow {
  background: #f2542d;
  padding: 1.6rem;
  border-radius: 2.3rem;
}

.right-header {
  margin-left: 23%;
}