@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
body {
  max-width: 1920px;
  overflow-x: hidden;
}

  html {
    font-size: 62.5% ;
    font-family: 'Poppins';
  }

  @media (max-width: 1250px) {
    html {
      font-size: 42.5%;
    }
  }

}

  .container {
    width: 90%;
    margin: auto;
}
